#head {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    background-image: url(../images/pattern.webp);
    text-align: center;
}
.sec-h1 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}
#blue-text {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}
#brushes {
    background-color: mediumspringgreen;
}
#frames {
    background-color: lightcoral;
}
#paint {
    background-color: skyblue;
}
